<html>
<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

  <meta charset="UTF-8">
  <script>
    var grabPrintFunctionBeforeP5StealsIt = window.print
  </script>
  <script language="javascript" type="text/javascript" src="javascripts/vexflow-min.js"></script>
  <script language="javascript" type="text/javascript" src="p5/p5.js"></script>
  <script language="javascript" type="text/javascript" src="p5/addons/p5.gibber.js"></script>
  <script language="javascript" type="text/javascript" src="javascripts/jquery.js"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
  <script language="javascript" type="text/javascript" src="p5/addons/p5.sound.js"></script>
  <script language="javascript" type="text/javascript" src="p5/addons/p5.dom.js"></script>
  <script language="javascript" type="text/javascript" src="javascripts/domscripts.js"></script>
  <script language="javascript" type="text/javascript" src="javascripts/justFreqThings.js"></script>

  <title>Dictatone</title>

  <!-- this line removes any default padding and style. you might only need one of these values set. -->
  <style> body {padding: 0; margin: 0;} </style>
</head>
<body>
  <div class="header no-print">
    <img src="../logo.png"></img>
  </div>
     <!--  <div class = "buttons no-print">
        <button class = "play btn btn-default">Record</button>
        <button class = "stop btn btn-default">Pause</button>
        <button class = "restart btn btn-danger">Restart</button>
        <h2 class = "label label-default pitch">N/A</h2>
      </div>
      <button class="btn btn-default no-print" id="print"><span class="glyphicon glyphicon-print"></span></button> -->
  <div class="page">
    <div class = "songInfo">
      <h1 class = "title" contentEditable="true">Song of My People</h1>
      <div class = "filler">
      </div>
      <div class = "tempo">
        <p class = "tempo-p"><strong>Tempo: </strong><input  type="number" id="tempo"  value="120"></input>BPM <span id="metro" class="no-print">•</span></p>
      </div>
      <div class = "composer-and-timeMade">
        <p class = "composer-p"><strong>Composed by:</strong> <span contentEditable="true" class = "composer">Me</span></p>
        <!-- tempo is 30 * frame rate of draw function if each draw is an eighth note -->
      </div>
    </div>
    <div id = "sheet" >
      <canvas class="notesCanvas" id="0" width="511" height="125" style="display: inline-block"></canvas>
    </div>
    <div id="help"><h1>Click here to start!</br><span class="glyphicon glyphicon-arrow-down"></span></h1></div>
    <div id="footer" class="no-print">
      <div class="play control-btn" ><span class="glyphicon glyphicon-record"></span></div>
      <div class="stop control-btn" ><span class="glyphicon glyphicon-pause"></span></div>
      <div class="restart control-btn" ><span class="glyphicon glyphicon-trash"></span></div>
      <span id="current">Current Note: <span class = "label label-default pitch">N/A</span></span>

      <div class="print control-btn pull-right" id="print"><span class="glyphicon glyphicon-print"></span></div>
    </div>
  </div>
</body>
</html>