body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.drum{
	display: inline-block;
	font: 20px "Monaco";
	border: 1px solid black;
	border-radius: 5px;
	width: 100px;
}
.drum:hover{
	background: grey;
	cursor: pointer;
}