@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }

    .notesCanvas{
    	display: inline;
    	width: 50%;
    	padding: 5pt;
    }

}

body {
  background: url(../ricepaper_v3.png);
  padding: 0px;
  font: 14px "Georgia", Times, Arial, serif;
  /*background: black;*/
}

#metro{
	color: red;
}

.page{
	height: 100%;
}

#defaultCanvas{
	display: none;
}

a {
  color: #00B7FF;
}

.btn{
	width: 100px;
}

#tempo{
	width: 46px;
}


.header{
	width: 100%;
	background: #77353f;
	text-align: center;
	border-bottom: 2px solid #533;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
	z-index: 1;
}


/*.drum{
	display: inline-block;
	font: 20px "Monaco";
	border: 1px solid black;
	border-radius: 5px;
	width: 100px;
}
.drum:hover{
	background: grey;
	cursor: pointer;
}*/

.notesCanvas{
	margin-left: -13px;
}

.notesCanvas:hover{
	opacity: .5;
	cursor: pointer;
}


.songInfo{
	padding-top: 30px;
	text-align: center;
}

.tempo{
	float:left;
	margin-left: 10%;
}
.composer-and-timeMade{
	width: 150px;
	margin-right: 10%;
	text-align: left;
	float:right;
}
#sheet{
	width: 95%;
	text-align: center;
	clear: both;
	margin: 0 auto;
	padding-bottom: 6%;
	padding-right: 5px;
}

.label{
	font-size: 12pt;
}

#current{
	position: relative;
	top: -3px;
	padding-left: 5px;
	margin-bottom: 20px;
}

#footer{
	box-sizing: border-box;
	color: white;
	display: inline-block;
	padding: 0px 10%;
	border-top: 2px solid #300;
	background: #444;
	height: 40px;
	width: 100%;
	position: fixed;
	bottom: 0px;
}

.control-btn{
	box-sizing: border-box;
	width: 50px;
	color: white;
	padding-top: 9px;
	margin: 20px;
	text-align: center;
	margin: 0 auto;
	font-size: 18px;

	border-left: 1px solid #888;
	border-right: 1px solid #888;
	display: inline-block;
	height: 100%;


	/* unselectable */
	  -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

.img-button{
	margin-top: -1px;
	background: url(../mic.png);
	background-size: 16px;
	background-position: center;
	background-repeat: no-repeat;
}

#help{
	position:fixed;
	bottom: 40px;
	margin: 0 10.5%;
}


.control-btn:hover{
	background: #333;
	cursor: pointer;
}
.control-btn:active{
	background: #222;
}


.title {
	display: inline-block;
}